<div id="avatarView" class="col-md-1">
    <img src="{{ user.avatarmedium }}" alt="steam.avatar"/>
</div>
<div id="profileView" class="col-md-3">
    <p>Name: {{ user.personaname}}</p>
    <p>Steam GUID: <span class="label label-success">{{ user.steamid }}</span></p>
</div>
