{{> admin/header active_menu_overview=true}}
<div class="row">
    <div id="adminStats" class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actions</h3>
                    </div>
                    <table class="table">
                        <tr><td><a href="servers"><img src="/img/icons/famfam/add.png"/> Server</a></td></tr>
                        <tr><td><a href="presets"><img src="/img/icons/famfam/add.png"/> Preset</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Stats</h3>
                    </div>
                    <table class="table">
                        <tr><td>Uptime</td></td><td>NULL</td></tr>
                        <tr><td># Servers</td></td><td>NULL</td></tr>
                        <tr><td># Drivers</td></td><td>NULL</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="adminHistory" class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">History / Events</h3>
            </div>
            <table class="table">
                <tr><th>who</th><th>what</th><th>when</th></tr>
                {{#each history}}
                <tr><td>{{this.user}}</td><td>{{this.entry}}</td><td>{{#formatTimestamp}}{{this.tstamp}}{{/formatTimestamp}}</td></tr>
                {{/each}}
                </table>
        </div>
    </div>
</div>
{{> admin/footer }}