	{{> templates }}
    <footer>
        <hr/>
        <p class="small">&copy; <a href="http://github.com/schmic">Michael Scherer</a> // Virtual Racing e.V. 2014</p>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendor/jquery-1.11.0.js"></script>
    <script src="/js/vendor/bootstrap.js"></script>
    <script src="/js/vendor/handlebars.js"></script>
    <script src="/js/acClient.js"></script>
    {{#if session.isAdmin}}
        <script src="/js/acAdmin.js"></script>
    {{/if}}
  </body>
</html>
