<div id="header" class="page-header">
    <h2>Administration</h2>
</div>
<div class="row">
    <div id="adminView" class="col-md-2">
        <ul>
            <li><a href="/admin/preset">Presets</a></li>
            <li><a href="/admin/server">Servers</a></li>
        </ul>
    </div>
    <div id="adminView" class="col-md-6">
        AdminView, status about running (and stopped?) servers ...
    </div>
</div>