<div id="header" class="page-header">
    <h2>Administration</h2>
</div>
<div class="row">
    {{> admin/menu }}
    {{#if f.index }}{{> admin/index}}{{/if}}
    {{#if f.servers }}{{> admin/servers}}{{/if}}
    {{#if f.presets }}{{> admin/presets}}{{/if}}
    {{#if f.tracks }}{{> admin/tracks}}{{/if}}
    {{#if f.cars }}{{> admin/cars}}{{/if}}
</div>

{{> admin/templates}}
