<div id="header" class="page-header">
    <h2>Administration</h2>
</div>
<div class="row">
    {{> admin/menu }}
    {{#if_eq f 'index' }}{{> admin/index}}{{/if_eq}}
    {{#if_eq f 'servers' }}{{> admin/servers}}{{/if_eq}}
    {{#if_eq f 'presets' }}{{> admin/presets}}{{/if_eq}}
    {{#if_eq f 'tracks' }}{{> admin/tracks}}{{/if_eq}}
    {{#if_eq f 'cars' }}{{> admin/cars}}{{/if_eq}}
</div>

{{> admin/templates}}
