<div id="header" class="page-header">
    <h3>Profile <small>&raquo; Steam</small></h3>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your profile</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="avatarView" class="col-md-3">
                        <img src="{{ user/avatarmedium }}" alt="steam.avatar"/>
                    </div>
                    <div id="profileView" class="col-md-8">
                        <p>Name: {{ user/personaname}}</p>
                        <p>Steam64 ID: <span class="label label-success">{{ user/steamid }}</span></p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
