<div id="header" class="page-header">
    <h2>Profile</h2>
</div>
<div class="row">
    {{> user/steam}}
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Booked Events</h4>
        Lorem impsum.
    </div>
</div>
