<div id="header" class="page-header">
    <h3>Account</h3>
</div>
<div class="row">
    <div id="accountView" class="col-md-1">
        <img src="{{ session.passport.user._json.avatarmedium }}" alt="steam.avatar"/>
    </div>
    <div id="accountView" class="col-md-4">
        <p><span>Name: {{ session.passport.user.displayName }}</span></p>
        <p>Steam GUID: <span class="label label-success">{{ session.passport.user.id }}</span></p>
    </div>
</div>
<div class="row" style="margin-top: 2em">
    <div id="buttonView" class="col-md-4">
        <a href="/auth/logout">
            <button type="button" class="btn btn-primary btn-sm">Logout</button>
        </a>
    </div>
</div>