/* CSS declarations go here */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

ul,
ol,
li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
    width: 100%;
}

table td {
	vertical-align: top;
}

body > footer {
    padding: 2em;
    text-align: center;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-brand img {
	margin-right: 0.5em;
}

#adminServers td,
#adminPresets td,
#adminTracks td,
#adminCars td {
    line-height: 2em;
}