{{#if session.isAdmin }}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" id="adminList">
            <li {{#if active_menu_overview}}class="active"{{/if}}><a href="/admin/overview">Overview</a></li>
            <li {{#if active_menu_servers}}class="active"{{/if}}><a href="/admin/servers">Servers</a></li>
            <li {{#if active_menu_presets}}class="active"{{/if}}><a href="/admin/presets">Presets</a></li>
            <li {{#if active_menu_tracks}}class="active"{{/if}}><a href="/admin/tracks">Tracks</a></li>
            <li {{#if active_menu_cars}}class="active"{{/if}}><a href="/admin/cars">Cars</a></li>
        </ul>
    </li>
{{/if}}
