<div id="adminCars" class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Available Cars</h3>
        </div>
        <div class="panel-body">
            {{#if cars}}
            <table>
                {{#each cars}}
                    <tr>
                        <td>{{#formatCar}}{{this}}{{/formatCar}}</td>
                        <td>
                            <button title="Delete car" type="button" class="btn btn-danger btn-xs"
                                    onclick="handleDelete('{{this}}')">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                {{/each}}
            </table>
            {{else}}
                <div>No cars found in server content directory.</div>
            {{/if}}
        </div>
    </div>
</div>
<div id="adminCarsUpload" class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Car Upload</h3>
        </div>
        <div class="panel-body">
            <div class="form-group has-error has-feedback">
                <label class="control-label" for="contentname">Enter car name:</label>
                <input class="form-control" type="text" id="contentname" name="cars" onkeyup="checkUploadForm()"/>
                <span class="glyphicon glyphicon-remove form-control-feedback" id="contentnamefeedback"></span>
                <span class="help-block">The name of the &lt;car&gt; folder "must" be entered here.</span>
            </div>
            <div class="form-group has-error has-feedback">
                <label class="control-label" for="files">Select: ".../content/&lt;car&gt;/ui/small_preview.png"</label>
                <input class="form-control" type="file" id="files" name="files[]" onchange="checkUploadForm()"/>
                <span class="glyphicon glyphicon-remove form-control-feedback" id="contentfilesfeedback"></span>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
            <button id="uploadbutton" class="btn btn-success" disabled onclick="handleUpload()">Upload</button>
        </div>
    </div>
</div>