<div id="header" class="page-header">
    <h2>Administration</h2>
</div>
<div class="row">
    <div id="adminMenu" class="col-md-2">
        {{> admin/menu }}
    </div>
    <div id="adminContent" class="col-md-10">