<div id="adminIndex" class="col-md-8">
    <h4>TODO / THOUGHTS</h4>
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger">Implement Watchdog for server processes.</li>
        <li class="list-group-item">Implement Notifier for Watchdog (E-Mail-Notifications)</li>
        <li class="list-group-item">Implement Log/History, who did what when.</li>
    </ul>
</div>