<div class="row">
    <div id="adminHistory" class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">History / Events</h3>
            </div>
            <table class="table">
                <tr><th>who</th><th>what</th><th>when</th></tr>
                {{#each history}}
                <tr><td>{{this.user}}</td><td>{{this.msg}}</td><td>{{#formatTimestamp}}{{this.tstamp}}{{/formatTimestamp}}</td></tr>
                {{/each}}
                </table>
        </div>
    </div>
</div>
<div class="row">
    <div id="adminTodo" class="col-md-8">
        <h4>TODO / THOUGHTS</h4>
        <ul class="list-group">
            <li class="list-group-item">Implement Notifier for Watchdog (E-Mail-Notifications)</li>
            <li class="list-group-item">Implement Log/History, who did what when, needs socket in admin-handler
                funcs.
            </li>
            <li class="list-group-item">Move loggers to own module/s and bind them, if configured</li>
            <li class="list-group-item">--> allow "own" loggers via plugin?</li>
        </ul>
    </div>
</div>