<ul class="nav nav-pills nav-stacked">
    <li {{#if active_menu_index}}class="active"{{/if}}><a href="/admin/index">Overview</a></li>
    <li {{#if active_menu_servers}}class="active"{{/if}}><a href="/admin/servers">Servers</a></li>
    <li {{#if active_menu_presets}}class="active"{{/if}}><a href="/admin/presets">Presets</a></li>
    <li {{#if active_menu_events}}class="active"{{/if}}><a href="/admin/events">Events</a></li>
    <li {{#if active_menu_tracks}}class="active"{{/if}}><a href="/admin/tracks">Tracks</a></li>
    <li {{#if active_menu_cars}}class="active"{{/if}}><a href="/admin/cars">Cars</a></li>
</ul>